
<section class="navbar-custom">
  <button class="btn navbar-custom-logo" [routerLink]="''">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  </button>
  <button class="btn" [routerLink]="'listings/furniture'">Furniture</button>
  <button class="btn" [routerLink]="'listings/decor'">Decor</button>
  <button class="btn" [routerLink]="'listings/kitchenware'">Kitchenware</button>
  <button class="btn" [routerLink]="'about'">About Us</button>
  <button class="btn" [routerLink]="'contact'">Contact Us</button>
  <div ngbDropdown autoClose="true" class="d-inline-block">
    <button type="button" class="btn" id="info-dropdown" ngbDropdownToggle>
      More Info
    </button>
    <div ngbDropdownMenu aria-labelledby="info-dropdown" class="dropdown-container">
      <button ngbDropdownItem class="dropdown-btn" [routerLink]="'faq'">FAQs</button>
      <button ngbDropdownItem class="dropdown-btn" [routerLink]="'policy'">Privacy Policy</button>
      <button ngbDropdownItem class="dropdown-btn" [routerLink]="'refunds'">Refunds & Returns</button>
    </div>
  </div>
  <button class="btn" [routerLink]="'cart'">
    <mat-icon aria-hidden="false" aria-label="Shopping cart" fontIcon="shopping_cart"></mat-icon>
  </button>
</section>

<section class="container">
  <router-outlet class="content-container"></router-outlet>
</section>


<section class="footer">
  <footer>
    <p><span>&copy;</span> Maesela, 2023</p>
  </footer>
</section>
