/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #15451F;
  --accent-green: #00916E;
  --accent-green-transparent: rgba(0, 145, 110, 0.6);
  --background: #FFFBF9;
  --accent-yellow: #FFCF00;
  --black: #090C08;

}

.logo {
  vertical-align: center;
  margin-left: 0.3em;
  font-family: 'Climate Crisis', cursive;
}

.content-container {
  padding: 1em !important;
  height: 100%;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

html, body { height: 100%; width: 100% }
body {
  margin: 0;
  background-color: var(--background);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}

img {
  border-radius: 6px;
}

.tagline-content {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 4.5em !important;
  line-height: 1em !important;
  text-align: center;
}

.tagline-content-no-size {
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}

.sub-text {
  text-align: justify;
  max-width: 100%;
  font-size: 1.5em;
  line-height: 1em !important;
}

.center-div {
  width: 100%;
  padding: 4em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.center-image {
  height:40em !important; /* you can use % */
  max-width: 100%;
  width: auto;
}

.navbar-custom {
  height: 5em;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.3);
  display: flex;
  padding: 1em;
  justify-content: space-evenly;
  align-content: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--primary);
}

.navbar-custom button {
  color: var(--background) !important;
}

.navbar-custom-logo {
  flex-basis: 30%;
}

.card-flex {
  /*padding: 2em;*/
  width: 100%;
  display: flex;
  justify-content: start;
  align-content: center;
  overflow-x: auto;
}

.card-content-flex {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2em;
  cursor: pointer;
}

.card-content-flex img {
  max-width: 30em;
  height: auto;
}

.product-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}

.product-card {
  /*flex-grow: 1;*/
  min-width: 20em;
  height: auto;
  margin-top: 1em;
  margin-right: 0.2em;
}

.product-card-button {
  margin-top: 2em;
  background-color: var(--primary);
  color: var(--background);
  border: none;
}

.product-card-button:hover, .product-card-button:active  {
  background-color: var(--accent-green) !important;
  color: var(--background) !important;
}


.product-card img {
  object-fit: cover;
  width: 20em;
  height: 20em;
}

.thumbnail {
  object-fit: cover;
  width: 20em;
  height: 20em;
}


.card-image {
  margin-bottom: 2em;
}

.product-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}

.product-flex-child {
  padding: 5em;
}

.product-flex-child-image{
  flex-basis: 40%;
}

.product-flex-child-image img {
  width: 50em;
  height: auto;
}

.review {
  min-width: 50em;
  margin-bottom: 2em;
}

.btn-buy {
  margin-top: 1em;
  background-color: var(--primary);
  color: var(--background);
}

.btn-buy:hover, .btn-buy:active  {
  background-color: var(--accent-green) !important;
  color: var(--background) !important;
}

.multi_lines_text {
  white-space: pre-line;
}

.thirty-seventy {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.thirty {
  flex-basis: 20%;
}

.thirty img {
  object-fit: cover;
  width: 20em;
  height: 20em;
}

.form-container {
  margin-top: 5em;
  max-width: 60%;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: var(--accent-green) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--accent-green-transparent) !important;
  outline: 0 none !important;
}

.footer {
  margin-top: 2rem;
  padding: 1rem;
  left: 0;
  bottom: 0;
  height: 5rem;
  width: 100%;
  background-color: var(--accent-green);
  color: var(--background);
  text-align: center;
}

.dropdown-btn {
  color: var(--background) !important;
  background-color: var(--primary);
}

.dropdown-btn:hover, .dropdown-btn:active  {
  background-color: var(--accent-green) !important;
}

.dropdown-container {
  background-color: var(--primary);
}

.carousel-slide img {
  width: 100% !important; /* you can use % */
  height: 40em !important;
  object-fit: cover !important;
}

.custom-card {
  background-color: white;
  border-radius: 1em !important;
  padding: 3em;
  box-shadow: -1px 3px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 3px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 7px -2px rgba(0, 0, 0, 0.75);
}
